html,
body,
#app,
#home {
	height: 100%;
	width: 100%;
}

* {
	font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.space {
	flex: 1
}

.loadingHide {
	display: none;
}

.eyeColor {
	background-color: #FAF9DE;
}

#paper-question-list-index [class*=stub] {
	padding-top: 6px;
	padding-bottom: 6px;
	width: 45px;
	border: 1px solid lightgray !important;
	text-align: center;
}

#cnzz_stat_icon_1278643045 {
	margin-right: 12px;
	font-size: 12px;
	position: fixed;
	bottom: 0;
	right: 0;
}

#cnzz_stat_icon_1278643045>a:first-child {
	display: none;
}

/***
 * 选项
 */

.question-option-group {
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.actions .button {
	width: 100px;
}

@media screen and (max-width: 520px) {
	.actions {
		min-height: 95px;
		flex-direction: column;
	}

	.actions .cell {
		display: flex;
		justify-content: space-around;
	}

	.actions .button {
		margin: 5px 0px;
	}
}



/***
 * 选项描述的行间距
 */

.question-option-group span.caption {
	line-height: 1rem;
}


/**
 * 取消答题选项被选中的过渡效果
 */

#paper .question-option>.check {
	transition: none;
	-webkit-transition: none;
	margin-left: 0px;
}


/**
 * 修正答题选项多行时 radio 被压扁
 */

.question-option {
	display: -webkit-inline-box;
}

#paper .stub {
	padding: 0;
	width: 46px;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
	-webkit-transition: none;
	transition: none;
}


/**
 * 设定首页复习卷子项目的图标颜色
 */

#home-paper-list>ul>li:nth-child(1)>span>span {
	color: #fa6800 !important;
}

#home-paper-list>ul>li:nth-child(2)>span>span {
	color: #1ba1e2 !important;
}

#home-paper-list>ul>li:nth-child(3)>span>span {
	color: #60a917 !important;
}

#home-paper-list>ul>li:nth-child(4)>span>span {
	color: #c44dff !important;
}

#home-paper-list>ul>li:nth-child(5)>span>span {
	color: #95ab8d !important;
}

#home-paper-list>ul>li:nth-child(6)>span>span {
	color: #ffe484 !important;
}

#home-paper-list>ul>li:nth-child(7)>span>span {
	color: #fa6800 !important;
}

#downloadDialog .button {
	transition: none;
	-webkit-transition: none;
}
