<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="author" content="Autukill">
		<meta name="description" content="安规考试复习">
		<meta name="keywords" content="安规,模拟">
		<meta name="mobile-web-app-capable" content="yes">
		<meta http-equiv="Cache" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<meta name="metro4:init" content="false">
		<title>安规考试复习系统</title>
		<link type="text/css" href="https://cdn.bootcss.com/metro/4.1.2/css/metro-all.min.css" rel="stylesheet">
		<link type="text/css" href="css/app.css" rel="stylesheet">
	</head>

	<body>
		<div class="loadingHide" data-role="appbar" style="background-color: #0078d7;">
			<a class="brand text-leader" href="javascript:openHome()" style="color:#f5f5f5;"> 2020 年安规复习系统 </a>
		</div>
		<div id="app" class="loadingHide">
			
			<div v-show="!showPaper" id="home" class="container-fluid">
				<div class="container hero">
					<ul id="subjects" class="tabs-expand-md" @click="handleSubjectTabClick" data-role="tabs">
						<li v-for="(subject,index) in subjects" v-once>
							<a href="">{{subject}}</a>
						</li>
					</ul>
					<div class="border bd-default no-border-top p-2">
						<ul id="home-paper-listview" data-on-node-click="openPaper" data-role="listview" data-view="icons-medium">
							<li data-caption="专项复习">
								<ul>
									<li data-caption="单选题" data-icon="<span class='mif-folder-plus fg-red'></span>" data-type="单选"></li>
									<li data-caption="多选题" data-icon="<span class='mif-folder-plus fg-green'></span>" data-type="多选"></li>
									<li data-caption="判断题" data-icon="<span class='mif-folder-plus fg-blue'></span>" data-type="判断"></li>
								</ul>
							</li>
							<li data-caption="模拟测试">
								<ul>
									<li data-caption="仿真模拟" data-icon="<span class='mif-folder-special fg-blue'></span>" data-type="模拟"></li>
								</ul>
							</li>
						</ul>
					</div>
					<div style="margin-top: 80px;">
						<p>内容仅供参考，不能保证内容的正确性。如有发现错误的内容，请联系维护人。</p>
						<p>系统维护人QQ：393382242<p>
						<p>题库维护人QQ：360367789<p>
						<p>本系统网址：<a href="https://autukill.gitee.io/exam/" target="_blank">https://autukill.gitee.io/exam/</a> <p>
					</div>
				</div>
			</div>

			<div v-show="showPaper" id="paper" class="container-fluid">
				<div class="container hero">
					<blockquote class="bd-green">
						<div class="h6">复习测试</div>
						<div class="small">科目：{{ currentSubjectName }} </div>
					</blockquote>

					<div class="container border bd-lightGray" style="padding-top:1em; padding-bottom: 1em; margin-bottom: 1em;">
						<div class="form-group">
							<div style="margin-bottom: 1em;" id="questionNum">
								<code class="info">{{ currentProgress }}</code>
								<code class="info">{{ currentQuestionType }}</code>
							</div>
							<div class="indent" style="font-size: 20px; line-height: 40px">{{ currentQuestionDesc }}</div>
						</div>
						<div class="question-option-group">
							<div v-for="(item, index) in currentQuestionOptions" class="form-group">
								<label v-if="currentQuestionType!='多选'" class="radio question-option">
									<input :id="'quesion-option-'+index" name="r1" type="radio" :disabled="isPaperSubmited">
									<span class="check"></span>
									<span class="caption" style="font-size: 20px; line-height: 30px;">{{optionIndex[index]+'.'+item}}</span>
								</label>

								<label v-else :for="'quesion-option-'+index" class="checkbox question-option">
									<input :id="'quesion-option-'+index" type="checkbox" :disabled="isPaperSubmited">
									<span class="check"></span>
									<span class="caption" style="font-size: 20px; line-height: 37px;">{{optionIndex[index]+'.'+item}}</span>
								</label>
							</div>
						</div>
						<div class="form-group">
							<div class="row flex-justify-around actions">
								<div class="cell">
									<button class="button secondary" @click="handleLastQuestion">上一题</button>
									<button class="button success" @click="handleNextQuestion">下一题</button>
								</div>
								<div class="cell">
									<button v-if="!isPaperSubmited" class="button warning" @click="handleSubmitPaper">交卷</button>
									<button v-else class="button warning" @click="handleSubmitPaper">返回首页</button>
									<button id="quesiton-point-toggle" class="button info">查看答案</button>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div id="question-point" class data-collapsed="true" data-role="collapse" data-toggle-element="#quesiton-point-toggle">
								<p>正确答案：{{currentQuestionKey}}</p>
								<p v-for="item in currentQuestionPoint"> {{item}}</p>
							</div>
						</div>
					</div>

					<blockquote class="bd-green">
						<div class="h6">题目索引</div>
					</blockquote>
					<div id="paper-question-list-index" class="container" style="margin-top: 1em;">
						<div class="grid" style="margin-top: 1em;">
							<div class="row">
								<div v-for="(item,index) in questionStates" :class="questionStatesColor(item, index)" class="stub" @click="handleJumpQuestion(index)">
									{{index + 1}} </div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="downloadDialog" class="dialog mx-auto mt-4 mb-4" data-role="dialog">
				<div class="dialog-title">{{ downloadState? '试卷准备中,请稍等':'试卷准备好了,可以开始答题'}}</div>
				<div class="dialog-content">
					<div v-if="downloadState">
						试卷准备进度: {{downloadProgress}}
					</div>
					<div style="margin-top: 6px;">配置试卷参数：</div>
					<input type="checkbox" id="paper-config-random-num" data-role="checkbox" data-caption="打乱题目顺序" data-style="2" />
					<input type="checkbox" id="paper-config-random-opt" data-role="checkbox" data-caption="打乱选项顺序" data-style="2" />
				</div>
				<div class="dialog-actions">
					<button v-bind:class="{success:!downloadState}" :disabled="downloadState" class="button js-dialog-close" @click="beginTest">开始答题</button>
					<button class="button primary js-dialog-close">取消</button>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			document.write(unescape(
				"%3Cspan id='cnzz_stat_icon_1278643045'%3E%3C/span%3E%3Cscript src='https://s9.cnzz.com/z_stat.php%3Fid%3D1278643045%26online%3D2' type='text/javascript'%3E%3C/script%3E"
			));
		</script>
	</body>

	<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://cdn.bootcss.com/metro/4.1.2/js/metro.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/IECompatible.js?v=2020-3-1-3" type="text/javascript" charset="utf-8"></script>
	<script src="js/config.js?v=2020-3-1-3" type="text/javascript" charset="utf-8"></script>
	<script src="js/paper.js?v=2020-3-1-3" type="text/javascript" charset="utf-8"></script>
	<script src="js/app.js?v=2020-3-1-3" type="text/javascript" charset="utf-8"></script>

</html>
